name: build

on:
  workflow_call:
    inputs:
      dotnet-version:
        description: .NET SDK version
        type: string
        default: '9.0'
      configuration:
        description: Build configuration
        type: string
        default: Release
      run-tests:
        description: Run tests after build
        type: boolean
        default: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Setup .NET
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Display .NET info
        run: dotnet --info

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration ${{ inputs.configuration }}

      - name: Test
        if: ${{ inputs.run-tests }}
        run: dotnet test --no-restore --no-build --configuration ${{ inputs.configuration }} --verbosity normal
