name: main

on:
  push: 
    branches:
      - main
  workflow_dispatch: 
    
jobs: 
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        
      - name: setup dotnet environment
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d
        with:
          dotnet-version: '9.0'
          
      - run: dotnet --info    
          
      - name: dotnet restore
        run: dotnet restore
          
      - name: dotnet build [Release]
        run: dotnet build --configuration Release

      - name: dotnet test [Release]
        run: dotnet test --configuration Release --no-restore --no-build --verbosity normal
  
  publish-artifacts:
    runs-on: ubuntu-latest
    name: publish artifacts
    needs: test
    steps:
      - name: checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 1
      
      - name: setup dotnet
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d
        with:
          dotnet-version: '9.0'

      - name: dotnet info
        run: dotnet --info
      
      - name: dotnet restore
        run: dotnet restore
     
      - name: dotnet pack [Release]
        run: dotnet pack --configuration Release --no-restore --output artifacts 
      
      - name: upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with: 
          name: artifact
          path: artifacts/
          