name: pull request
on:
  pull_request: 
    branches:
      - main

jobs: 
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        
      - name: setup dotnet
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d
        with:
          dotnet-version: '9.0'

      - name: dotnet info
        run: dotnet --info
        
      - name: dotnet restore
        run: dotnet restore

      - name: dotnet build [Release]
        run: dotnet build  --no-restore --configuration Release
          
      - name: dotnet test [Release]
        run: dotnet test --configuration Release --no-restore --no-build --verbosity normal 